@import "variables";

.footer {
  ::placeholder {
    color: $secondary-color-grey-blue;
  }
  background-color: $secondary-color-dark-blue;
  padding: 2rem 3rem;
  &__flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .footer__inputs {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      &-email {
        padding: 1rem 2rem;
        border-radius: 100vw;
        border: 0;
        font-size: 1.5rem;
        outline: 2px solid transparent;
        transition: all 0.25s ease-in-out;
        &:focus {
          border-radius: 1rem;
          outline: 2px solid $primary-color-bright-red;
        }
      }
      &-btn {
        padding: 1rem 3rem;
        border-radius: 100vw;
        border: 0;
        font-size: 1.5rem;
        outline: 0;
        background-color: $primary-color-bright-red;
        color: #fff;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        border: 2px solid transparent;
        &:hover {
          border: 2px solid $primary-color-bright-red;
          background-color: #fff;
          color: $primary-color-bright-red;
        }
      }
    }
  }
  &__list-flex {
    display: flex;
    align-items: flex-start;
    gap: 5rem;

    ul {
      list-style-type: none;

      //   padding: 0;
      li {
        margin-bottom: 1rem;
        a {
          color: $secondary-color-light-grey;
          text-decoration: none;
          font-size: 1.6rem;
          transition: all 0.25s ease-in-out;
          border-bottom: 2px solid transparent;
          padding-bottom: 0.3rem;
          &:hover {
            color: $primary-color-bright-red;
            border-bottom: 2px solid $primary-color-bright-red;
          }
        }
      }
    }
  }
  .contact__links-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    a {
      color: #fff;
      transition: all 0.25s ease-in-out;
      text-decoration: none;
      &:hover {
        color: $primary-color-bright-red;
      }
    }
  }
  .special {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    text-align: center;
    color: $secondary-color-grey-blue;
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}
