.header {
  padding: 0 2.5rem;
  &__images {
    position: relative;
    &-1 {
      background-image: url("images/illustration-intro.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 35rem;
    }
    // &-2 {
    //   background-image: url("images/bg-tablet-pattern.svg");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover;
    //   height: 100%;
    //   z-index: -1;
    //   position: absolute;
    //   top: -15rem;
    //   left: 10rem;
    //   width: 100%;
    // }
  }
  &__content {
    text-align: center;
    h1 {
      color: $primary-color-dark-blue;
      font-size: 3.5rem;
      line-height: 1.4;
      margin-bottom: 1.2rem;
    }
    p {
      color: $secondary-color-grey-blue;
      font-size: 1.6rem;
      line-height: 1.7;
      font-weight: $font-weight-regular;
      margin-bottom: 2.5rem;
    }
    button {
      background-color: $primary-color-bright-red;
      border: 0;
      border-radius: 2rem;
      padding: 1.25rem 3.4rem;
      color: #fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      cursor: pointer;
      font-size: 1.5rem;
      transition: all 0.25s ease-in-out;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid $primary-color-bright-red;
        background-color: #fff;
        color: $primary-color-dark-blue;
      }
    }
  }
}
