@import "variables";
@import "mixin";
.manage {
  margin-top: 8rem;
  text-align: center;
  @include for-desktop() {
    padding: 0 9rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 15rem;
  }
  @include for-lrg-desktop() {
    padding: 0 10rem;
    justify-content: space-between;
    gap: 10rem;
  }
  &__heading {
    padding: 0 3.2rem;
    @include for-desktop() {
      text-align: left;
    }
    @include for-desktop() {
      padding: 0;
    }
    h2 {
      color: $primary-color-dark-blue;
      font-size: 3rem;
      margin-bottom: 1.2rem;
      @include for-desktop() {
        font-size: 3rem;
      }
      @include for-lrg-desktop() {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }
    p {
      color: $secondary-color-grey-blue;
      font-size: 1.5rem;
      margin-bottom: 6rem;
      line-height: 1.7;
      @include for-desktop() {
        font-size: 1.5rem;
      }
      @include for-lrg-desktop() {
        font-size: 1.6rem;
        padding-right: 20rem;
      }
    }
  }
  &__cards {
    p {
      text-align: left;
      padding: 0 2rem;
      color: $secondary-color-grey-blue;
      font-size: 1.63rem;
      margin-bottom: 4rem;
      @include for-desktop() {
        font-size: 1.5rem;
        padding: 0 2rem;
      }
      @include for-lrg-desktop() {
        padding-right: 10rem;
      }
    }
  }
  &__card {
    background-color: $secondary-color-pale-red;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
    margin-left: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    @include for-desktop() {
      background-color: #fff;
    }
  }
  &__card-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    @include for-desktop() {
      justify-content: flex-start;
      gap: 0;
    }
    h3 {
      color: $primary-color-dark-blue;
      font-size: 1.6rem;
      margin-left: 6rem;
      @include for-desktop() {
        margin-left: 12rem;
      }
      @include for-lrg-desktop() {
        margin-left: 10rem;
      }
    }
    .cont {
      background-color: $primary-color-bright-red;
      border-radius: 2rem;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 21%;
      font-size: 1.6rem;
      @include for-lrg-desktop() {
        width: 14%;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
