@import "variables";

.simplify {
  background-color: $primary-color-bright-red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem 3rem;
  &__content {
    h1 {
      font-size: 3.7rem;
      color: #fff;
      //   margin-bottom: 2rem;
      padding-top: 3rem;
      font-weight: $font-weight-bold;
    }
    button {
      background-color: #fff;
      color: $primary-color-bright-red;
      border: 0;
      border-radius: 2rem;
      padding: 1.25rem 3.4rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      cursor: pointer;
      font-size: 1.5rem;
      transition: all 0.25s ease-in-out;
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
    button:hover {
      background-color: $primary-color-dark-blue;
      transform: translateY(-0.5rem);
      //   opacity: 0.75;
      color: #fff;
    }
  }
}
