// PRIMARY COLORS
$primary-color-bright-red: #f25f3a;
$primary-color-dark-blue: hsl(228, 39%, 23%);
// Secondary COLORS
$secondary-color-grey-blue: #9095a7;
$secondary-color-dark-blue: #1d1e25;
$secondary-color-pale-red: #ffefeb;
$secondary-color-light-grey: #fafafa;

// Default Font Size

$default-font-size: 1.6rem;

// FONT FAMILY
$font-family: "Be Vietnam Pro", sans-serif;
// FONT WEIGHT
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
